<%= form_with scope: @credit, url: credits_path, local: true do |form| %>

    <p>
        <%= form.label :CardHolderName %>
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.label :CardNumber %>
        <%= form.text_field :card_number %>
    </p>
    <p>
        <%= form.label :CVC %>
        <%= form.text_field :cvc %>
    </p>
    <p>
        <%= form.label :StartDate %>
        <%= form.date_field :start_Date %>
    </p>
    <p>
        <%= form.label :EndDate %>
        <%= form.date_field :end_date %>
    </p>
    <p><%= form.submit %></p>
<% end %>